.options-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 0px;
    border-radius: 5px;
    padding: 20px;
}

.hero-option {
    display: flex;
    flex-basis: 45%;
    justify-content: center;
    margin: 10px 2%;
    height: 70px;
    font-size: 25px;
    align-items: center;
    
}

.opt-result{
    margin-right: 5px;
}

@media (max-width: 800px) {
    .hero-option {
        display: flex;
        flex-basis: 95%;
        
    }
}