.app-quiz-content {
    margin: 50px 5%;
    color: white;
}

.hero-to-guess {
    width: 100%;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.hero-picture {
    margin: 0 auto;
    height: 350px;
    border: 2px solid white;
}

.game-score {
    margin-bottom: 5px;
    font-size: 20px;
    line-height: 0.7;
}