.card-list{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 70px 20px;
    color: white;
}

.card-hero{
    display: flex;
    min-width: 200px;
    flex-basis: 300px;
    max-width: 300px;
    height: 450px;
    margin: 15px;
    cursor: pointer;
    transition: transform 0.5s;
    border-radius: 10px;
}
.card-hero:hover{
    transform: scale(1.12,1.12);
    z-index: 100;
}
.card-hero.flipped .card-hero-inner{
    transform: rotateY(180deg);
}
.card-hero-inner{
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-transition: transform 0.75s;
    transition: transform 0.75s;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    
}

.card-hero-inner .flipped{
    transform: rotateY(180deg);
}

.card-hero-anim-container{
    height: 100%;
    width: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    position: absolute;
    background-color: rgba(64, 64, 64, 0.75);
    background: url(https://i.imgur.com/OLrLOP9.gif), rgba(64, 64, 64, 0.45);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.card-hero-portrait{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    overflow: hidden;
    backface-visibility: hidden;
    transition: box-shadow 0.5s;
}
.card-hero-portrait.back{
    background-color: rgba(82, 82, 82, 0.75);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.card-hero-portrait.back::-webkit-scrollbar{
    width: 8px;
    background: rgba(0, 0, 0, 0.3);
}
.card-hero:hover .card-hero-portrait{
    box-shadow: 0px 15px 20px 10px rgba(0,0,0,0.8);
}
.card-hero-flip {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100px;
    height: 100px;
    background: url(https://i.imgur.com/MWobzlW.png), rgba(0,0,0,0.5);
    background-position: center;
    background-size: 55px;
    background-repeat: no-repeat;
    border-radius: 50%;
    top: 38.9%;
    right: 33.2%;
}
.card-hero:hover .card-hero-flip {
    opacity: 0.75;
}

.card-hero-title {
    width: 100%;
    padding: 5px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.7);
    color: white;
    text-align: center;
    font-size: 20px;
}
.card-hero-publisher {
    position: absolute;
    width: 80%;
    padding: 5px;
    margin: auto;
    top: 10px;
    left: 0;
    right: 0;
    color: white;
    display: flex;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}
.card-hero-stats {
    margin: 50px 5px 10px 5px;
    padding: 5px;
    display: flex;
    flex-direction: column;
}
.stat{
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 10%;
    color: white;
}
.stat-title{
    display: inline-flex;
    align-items: center;
}
.stat-icon{
    width: 1em;
    height: 1em;
    margin-right: 5px;
}
.card-hero-details{
    display: flex;
    flex-direction: column;
    color:white;
    margin: 0px 10%;
}
.card-hero-details-title{
    font-weight: bold;
}

.animation-card-appear{
    animation-name: cardAppear;
    animation-duration: 0.75s;
    animation-fill-mode: forwards;
}

@keyframes cardShadowHover {
    from {
        box-shadow: 0px 0x 5px 5px rgba(25,25,25,0.5);
    }
    to {
        box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.5);
    }
}

@keyframes cardAppear {
    0% {
        transform: scale(0, 0);
        opacity: 0.1;
    }
    50%{
        opacity: 0.2;
    }
    100% {
        transform: none;
        opacity: 1;
    }
}

@keyframes flipCard {
    0% {
        
    }
    99% {
        transform: rotate3d(0,1,0, 180deg);
    }
    100% {
        transform: rotate3d(0,1,0, 10deg);
    }
}