.header {
    display: flex;
    width: 100%;
    height: 50px;
    align-items: center;
    background-color: rgba(255, 0, 0, 0.45);
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 0px 35px;
}
.search-loading {
    width: 25px;
    height: 100%;
    background-image: url(https://i.imgur.com/d6wWhy1.gif);
    margin: 0px 10px;
}

.search-group {
    display: inline-flex;
    align-items: center;
    margin: 0;
    height: 100%;
}
.searcher {
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.searcher input::placeholder{
    color: rgba(255, 255, 255, 0.65);
}
.form-control{
    background-color: rgba(255, 255, 255, 0.2);
    border: none;
    color: white;
}
.form-control:focus{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
    box-shadow: 0 0 0 0.2rem rgba(255, 0, 0, 0.25);
}
.form-group .fas{
    margin: 0px 10px 0px 15px;
    margin-top: 3px;
}

.header-dropdown {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    height: auto;
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.45) 0%, rgba(150, 0, 0, 0.75) 35%, rgb(49, 0, 0) 100%);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 15px 41px;
    transition: opacity 0.5s;
    opacity: 1;
}
.header-dropdown.hidden{
    opacity: 0;
}
.header-dropdown-item {
    font-size: 190%;
    margin: 5px 0;
    cursor: pointer;
    transition: margin 0.3s;
}
.header-dropdown-item:hover{
    margin-left: 20px;
}
.header-dropdown-item a {
    color: white;
    display: flex;
    justify-content: left;
    align-items: center;
}
.header-dropdown-item a:hover{
    text-decoration: none;
}
.header-dropdown-item i {
    margin-right: 20px;
}
i.fas.fa-bars.clickable {
    font-size: 35px;
    cursor: pointer;
}