.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

html,body{overflow-x: hidden;}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}
html * {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1) ), url(https://i.imgur.com/JQbn46s.png);
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
}

.footer h2 {
  font-size: 30px;
  color: white;
}
